
#body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: url(back.png) no-repeat center fixed; 
  background-size: cover
}

#title {
  /*background-color: #ffee78;*/
  color: black;
  border: 2px solid #ffee78;
  padding: 10px;
  border-radius: 25px;
  background: #ffee78;}
#title h2 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#video {
  background-color: #ffee78;
  box-shadow: 10px 10px 5px grey;
  }
.button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

     }
.button2 {background-color: green;} /* Red */
p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}
h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}
h2
{
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}
h3
{
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}
h4
{
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}
.navbar{
height: 100px; /* Just an example height*/ 
}
.nav a{
            color: #ffee78 !important;
            font-size: 1.8em !important;
        }
.dropdown-menu a{
            color: #ffee78 !important;
            font-size: 1.8em !important;
        }
.dropdown-menu {
            background: black !important;

        }
#thumbnail img{
    border: 1px solid #ffee78;
    border-radius: 4px;
    padding: 5px;
    width: : 150px;
}
.carousel-indicators {
  bottom:-50px;
}
#thumbnail img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
 h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px #ffee78;
}
img  {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
